/source/.vscode
/s57processor/.vs
/s57reader/s57_reader/.vs
/build
/modules
/cache
*.buildinfo
*.changes
/bin
/Append_data/s63_files/*.fpr
/.vs
*.bak
/.vscode
/.editorconfig
/Append_data/s63_files/OCPNsenc.exe
/Append_data/s63_files/OCPNsenc
/Append_data/wmsserver.conf
